
</div>
<footer class="page-footer teal lighten-2">
 
  <div class="container">
 
    <div class="row">
 
      <div class="col l6 ">
 
        <h5 class="white-text">Who we are?</h5>
 
        <p class="grey-text text-lighten-4">Add some texutal content for describing about your company.organization or website.</p>
 
   
 
      </div>
 
      <div class="col l2 ">
 
        <h5 class="white-text">Categories</h5>
 
        <ul>
 
          <li><a class="grey-text text-lighten-3" href="#!">jQuery</a></li>
 
          <li><a class="grey-text text-lighten-3" href="#!">JavaScript</a></li>
 
          <li><a class="grey-text text-lighten-3" href="#!">CSS</a></li>
 
          <li><a class="grey-text text-lighten-3" href="#!">HTML</a></li>
 
        </ul>
 
 
 
      </div>
 
      <div class="col l2 offset-l2 m4 l0">
 
        <h5 class="white-text">About </h5>
 
        <ul>
 
          <li><a class="grey-text text-lighten-3" href="#!">About the Company</a></li>
 
          <li><a class="grey-text text-lighten-3" href="#!">Privacy</a></li>
 
          <li><a class="grey-text text-lighten-3" href="#!">Contact Support</a></li>
 
          <li><a class="grey-text text-lighten-3" href="#!">Contact Sales</a></li>
 
        </ul>
 
 
 
      </div>     
 
    </div>
 
  </div>
 
  <div class="footer-copyright">
 
    <div class="container">
 
    © 2022 Copyright - All Rights Reserved
 
    <a class="grey-text text-lighten-4 right" href="#!">Terms of Service</a>
 
    </div>
 
  </div>
 
</footer>
  

  <!-- TRANSIFEX MOCKUP LANGUAGE CHOOSER -->
  <div id="tx-live-lang-container" class="txlive-langselector txlive-langselector-bottomright">
    <ul id="tx-live-lang-picker" class="txlive-langselector-list notranslate">
      <li data-value="en">English</li>
      <li data-value="ar">العربية</li>
      <li data-value="zh">中文</li>
      <li data-value="cs">Čeština</li>
      <li data-value="nl">Nederlands</li>
      <li data-value="fr">Français</li>
      <li data-value="de">Deutsch</li>
      <li data-value="ko">한국어</li>
      <li data-value="pt">Português</li>
      <li data-value="ru">Русский</li>
      <li data-value="es">Español</li>
      <li data-value="sv">Svenska</li>
      <li data-value="th">ภาษาไทย</li>
      <li data-value="tr">Türkçe</li>
    </ul>
