
  <!-- MODAL
  <div id="modal1" class="modal">
    <div class="modal-content">
      <h4>Just a demo</h4>
      <p>Try resizing your window width to see the responsive features. Be sure to try scrolling down as well.</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-action modal-close waves-effect waves-red btn-flat">Ok</a>
    </div>
  </div> -->


  <!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-content">
      <h4>Add New Product</h4>
      <form id="idForm" action="/addnewproduct" method="post">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Product ID</label>
          <input type="text" name="pid" placeholder="Enter Product ID" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Brand Name</label>
          <input type="text" placeholder="Enter Brand Name" name="bname" class="form-control" id="exampleInputPassword1">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Mobile Number</label>
            <input type="number" placeholder="Enter Mobile Number" name="mobile" class="form-control" id="exampleInputPassword1">
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Email Address</label>
            <input type="email" placeholder="Enter Email Address" name="email" class="form-control" id="exampleInputPassword1">
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Color </label>
            <input type="text" placeholder="Enter Color Name for Product" name="color" class="form-control" id="exampleInputPassword1">
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Weight</label>
            <input type="text" placeholder="Enter Weight of Product" name="weight" class="form-control" id="exampleInputPassword1">
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Length</label>
            <input type="text" placeholder="Enter Length Of product" name="length" class="form-control" id="exampleInputPassword1">
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label"> Warranty Period </label>
            <input type="number" placeholder="Enter Warranty Period For This Product" name="period" class="form-control" id="exampleInputPassword1">
          </div>
       
        <div class="text-center"><button  class="btn waves-effect waves-light" type="submit" name="action">Submit
            <i class="material-icons right">send</i>
          </button></div>
        
            <!-- <button href="#!" class=" modal-close waves-effect waves-green btn-flat">Submit</a> -->
        </div>
        
      </form>
    </div>
    <!-- <div class="modal-footer text-center">
      <a href="#!" class="text-center modal-close waves-effect waves-green btn-flat">Agree</a>
      <a href="#!" class="text-center modal-close waves-effect waves-green btn-flat">DisAgree</a>
    </div> -->
  </div>