<div id="tab1" class="col s12 ">



  <section id="photo-bg" class="red lighten-4">
    <div class="container">
      <div class="row">
        <div class="col s12" style="margin-bottom: 40px">
          <h1 class="header center-on-small-only white-text">Go Green- Go Paperless.!</h1>
          <h4 class="light white-text text-lighten-4 center-on-small-only">It’s not about ideas. It’s about making
            ideas happen.</h4>
        </div>
      </div>
    </div>
  </section>

  <div class="container">

    <!-- <nav class="nav-breadcrumbs-dark nav-transparent">
        <div class="nav-wrapper">
          <div class="col s12 ">
            <a href="#!" class="breadcrumb">First</a>
            <a href="#!" class="breadcrumb">Second</a>
            <a href="#!" class="breadcrumb">Third</a>
          </div>
        </div>
      </nav> -->

    <h1 class="red-text text-lighten-2">Warranty Management.!</h1>
    <p class="flow-text">Warranty Management Software helps business houses to keep each & every details related to the
      warranty of products in one single cloud platform, that make it in centralized form & can be access from anywhere
      & anytime. Our warranty tracker software is cloud based and best suited for your business to optimize the global
      warranty management system.
      <h3>Improves Coordination</h3>
    <p>We provide a one-stop solution to all your warranty process-related problems – from contract/claims administration to reporting. Our warranty software ensures consistent delivery and built-in features for advanced functionality and reporting. Since the Warranty Management Solutions Software streamlines your whole process & centralized all the required information, it enhances the coordination between the service managers &amo; the service engineers which optimizes the warranty process.</p>
    <h3>Process Automation</h3>
    <p>Be it manufacturers, dealers, or thirty-party users, a robust warranty process automation program is necessary
      for critical aspects of the warranty process, which entails monitoring of policies, flat rates, fault codes, rules
      management, registration, and claims processing. Warranty management solutions helps you to automate the whole
      process of warranty management in such a manner that, it will turn out to be very systematic & streamlined like
      never before.

    </p>
    <h3>Improves Customer Service & Makes Them Happy</h3>
    <p>Competitive product warranty management software requires detailed directives with clear-cut segmentation of roles, so that you can resolve warranty issues faster & smarter. Since the warranty tracking software helps your company to make a good coordination among your after sales support team, due to this, they can manage to give effective services to your customer, which leads to more satisfied customer</p>
    

    <div class="row">

      <div class="col s12">
        <div class="card-panel teal ">
          <p class="white-text">
            <i class="medium material-icons white-text left">warning</i>
            <strong>Note:</strong>Your Address is->  <%= session.addre %>
          </p>
        </div>
      </div>

    </div>