<div class="container" style="margin-top: 10%; margin-bottom: 10%;">
<h3><strong>List Of All Sold Products</strong></h3>
<table class="table striped">
    <thead>
      <tr class="center-align">
          <th>Id</th>
          <th>Product Id</th>
          <th>Brand Name</th>
          <th>Mobile Number</th>
          <th>Email</th>
          <th>Manufacture Date</th>
          <th>Get Transaction Details</th>
          <th>Download Qr Code</th>
      </tr>
    </thead>

    <tbody>
      <!-- <tr>
        <td>Alvin</td>
        <td>Eclair</td>
        <td>$0.87</td>
        <td>Alvin</td>
        <td>Eclair</td>
        <td>$0.87</td>
      </tr>
      <tr>
        <td>Alan</td>
        <td>Jellybean</td>
        <td>$3.76</td>
        <td>Alan</td>
        <td>Jellybean</td>
        <td>$3.76</td>
      </tr>
      <tr>
        <td>Jonathan</td>
        <td>Lollipop</td>
        <td>$7.00</td>
        <td>Jonathan</td>
        <td>Lollipop</td>
        <td>$7.00</td>
      </tr> -->
    </tbody>
  </table>
      
</div>