
<!-- Modal -->
<div class=" modal fade" id="productdetailsmodal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content text-center overflow-auto">
        <div class="modal-header">
          <h5 class="modal-title text-center" >Transaction Details</h5>
          <button type="button" class="btn-close bg-danger" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body ">
          <div class="container">
          <table class=" table text-center">
              <tr>
                  <th> Brand Name</th>
                  <th class="text-start" id="ppname"> </th>
              </tr>
              <tr>
                  <th> Rated Current</th>
                  <th class="text-start" id="rrcurrent"></th>
              </tr>
              <tr>
                  <th> Switch Operation</th>
                  <th class="text-start" id="ssoperation"> </th>
              </tr>
              <tr>
                  <th> Module Size</th>
                  <th class="text-start" id="mmsize"></th>
              </tr>
              <tr>
                  <th> Material</th>
                  <th class="text-start" id="mmaterial"> </th>
              </tr>
             
              <tr>
                  <th> Country Of Origin</th>
                  <th class="text-start" id="cooo"></th>
              </tr>
              <tr>
                  <th> Product Color</th>
                  <th class="text-start" id="ppcolor"> </th>
              </tr>
              <tr>
                  <th> Manufacture Date</th>
                  <th class="text-start" id="mmanudate"></th>
              </tr>
              <tr>
                  <th> Warranty Start</th>
                  <th class="text-start" id="wwarr_start"></th>
              </tr>
              <tr>
                  <th> Warranty End</th>
                  <th class="text-start" id="wwarr_end"> </th>
              </tr>
             
              <!-- <tr>
                  <th colspan="2" class="text-center"> <a href="#" target="_blank" class="fulltans btn btn-danger">Get Full Transaction Details.</a></th>
                  
              </tr> -->
          </table>
          </div>
        </div>
       
    </div>
  </div>