
  

<!-- Modal -->
<div class=" modal fade" id="getproductbyqr" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content text-center overflow-auto">
      <div class="modal-header">
      
        <button type="button" class="btn-close bg-danger" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body ">
        <div class="container">
         <table class="table" cellspacing="15">
    <thead class="center-align">
      <tr class="center-align">
          <th colspan="2" class="center-align"><h3>All Product Details.</h3></th>
          
          
      </tr>
    </thead>

    <tbody>
      <tr>
        <td class="center-align"><strong>Product-id</strong></td>
        <td id="product_id"></td>
        
      </tr>
      <tr>
        <td class="center-align"><strong>brand name</strong> </td>
        <td id="bname"></td>
        
      </tr>
      <tr>
        <td class="center-align"><strong>Manufacture Date</strong></td>
        <td id="manu_date"></td>
      </tr>
      <tr>
        <td class="center-align"><strong>Country Of Origin</strong></td>
        <td id="coo"></td>
      </tr>
      <tr>
        <td class="center-align"><strong>material
        </strong></td>
        <td id="material"></td>
      </tr>
      <tr>
        <td class="center-align"><strong>Module Size
        </strong></td>
        <td id="msize"></td>
      </tr>
      <tr>
        <td class="center-align"><strong>Rated Current
        </strong></td>
        <td id="rcurrent"></td>
      </tr>
      <tr>
        <td class="center-align"><strong>Switch Operation
        </strong></td>
        <td id="soperation"></td>
      </tr>
      <tr>
        <td class="center-align"><strong>Color</strong></td>
        <td id="color"></td>
      </tr>
      <tr>
        <td class="center-align"><strong>Weight</strong></td>
        <td id="weight"></td>
      </tr>
      <tr>
        <td class="center-align"><strong>product_length</strong></td>
        <td id="length"></td>
      </tr>
      <tr>
        <td class="center-align"><strong>Warranty Period</strong></td>
        <td id="period"></td>
      </tr>
      <tr>
        <td class="center-align"><strong>Warranty Start Date</strong></td>
        <td id="warr-start"></td>
      </tr>
      <tr>
        <td class="center-align"><strong>Warranty Expiration Date</strong></td>
        <td id="warr_end"></td>
      </tr>
      
    </tbody>
  </table><br> 
   <div class="center-align">
    
    <a id="claim-warranty" class=" bg-primary text-white center-align waves-effect waves-light btn">Claim Warranty</a>
    <a href="usermanual"  class=" bg-success text-white center-align waves-effect waves-light btn">User Manual</a>
  </div>
  <br><br>
   
        </div>
      </div>
     
  </div>
</div>
</div>
  
  
  
  




  