
<!-- Modal -->
<div class=" modal fade" id="unsoldtransactionmodal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content text-center overflow-auto">
      <div class="modal-header">
        <h5 class="modal-title text-center" >Transaction Details</h5>
        <button type="button" class="btn-close bg-danger" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body ">
        <div class="container">
        <table class=" table text-center">
            <tr>
                <th> Transaction Hash</th>
                <th class="text-start" id="thh"> Transaction Hash</th>
            </tr>
            <tr>
                <th> Transaction date</th>
                <th class="text-start" id="tdd"> Transaction date</th>
            </tr>
            <tr>
                <th> Blockhash</th>
                <th class="text-start" id="blockHash"> Blockhash</th>
            </tr>
            <tr>
                <th> BlockNumber</th>
                <th class="text-start" id="blockNo"> BlockNumber</th>
            </tr>
            <tr>
                <th> Cumulative Gas Used</th>
                <th class="text-start" id="cgu"> Cumulative Gas Used</th>
            </tr>
           
            <tr>
                <th> From Address</th>
                <th class="text-start" id="fa"> From Address</th>
            </tr>
            <tr>
                <th> To Address</th>
                <th class="text-start" id="ta"> To Address</th>
            </tr>
            <tr>
                <th> Gas Used</th>
                <th class="text-start" id="gu"> Gas Used</th>
            </tr>
            <tr>
                <th> Transaction Index</th>
                <th class="text-start" id="ti"> Transaction Index</th>
            </tr>
           
            <tr>
                <th colspan="2" class="text-center"> <a href="#" target="_blank" class="fulltans btn btn-danger">Get Full Transaction Details.</a></th>
                
            </tr>
        </table>
        </div>
      </div>
     
  </div>
</div>