<!DOCTYPE html>
<html lang="en">

<%- include ('components/header.ejs') %>

    <body class="g-sidenav-show   bg-gray-100">
        <div class="min-height-300 bg-success position-absolute w-100"></div>
        
            <main class="main-content position-relative border-radius-lg ">
               <div class="m-5">
                    <%- include ('components/rightsidenav.ejs') %>
                        <%- include ('components/jsscripts.ejs') %>
                        <%- include ('components/usermanualcontainer.ejs') %>

                    </div>
    </body>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    </html >