
  <!-- MODAL
  <div id="modal1" class="modal">
    <div class="modal-content">
      <h4>Just a demo</h4>
      <p>Try resizing your window width to see the responsive features. Be sure to try scrolling down as well.</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-action modal-close waves-effect waves-red btn-flat">Ok</a>
    </div>
  </div> -->


  <!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-content"><br><br><br>
      <div class="container">
        <h4></h4>
      </div>
<div class="container" style="width: 70%;">

  <table cellspacing="15">
    <thead class="center-align">
      <tr class="center-align">
          <th colspan="2" class="center-align"><h3>All Product Details.</h3></th>
          
          
      </tr>
    </thead>

    <tbody>
      <tr>
        <td class="center-align"><strong>Product-id</strong></td>
        <td id="product_id"></td>
        
      </tr>
      <tr>
        <td class="center-align"><strong>brand name</strong> </td>
        <td id="bname"></td>
        
      </tr>
      <tr>
        <td class="center-align"><strong>Manufacture Date</strong></td>
        <td id="manu_date"></td>
      </tr>
      <tr>
        <td class="center-align"><strong>Mobile Number</strong></td>
        <td id="mobile"></td>
      </tr>
      <tr>
        <td class="center-align"><strong>Email</strong></td>
        <td id="email"></td>
      </tr>
      <tr>
        <td class="center-align"><strong>Color</strong></td>
        <td id="color"></td>
      </tr>
      <tr>
        <td class="center-align"><strong>Weight</strong></td>
        <td id="weight"></td>
      </tr>
      <tr>
        <td class="center-align"><strong>product_length</strong></td>
        <td id="length"></td>
      </tr>
      <tr>
        <td class="center-align"><strong>Warranty Period</strong></td>
        <td id="period"></td>
      </tr>
      <tr>
        <td class="center-align"><strong>Warranty Start Date</strong></td>
        <td id="warr-start"></td>
      </tr>
      <tr>
        <td class="center-align"><strong>Warranty Expiration Date</strong></td>
        <td id="warr_end"></td>
      </tr>
      
    </tbody>
  </table><br>
  <div class="center-align">
    
    <a id="claim-warranty" class="center-align waves-effect waves-light btn">Claim Warranty</a>
  </div>
  <br><br>

  <hr>
  <h3 class="center-align">User Manual</h3>

  <div class="container" style="column-count: 2; column-gap:10px;column-width: 10000px;">
    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem. Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem similique excepturi tenetur dolorem illum quia perspiciatis itaque totam, animi labore ullam recusandae et fugit qui nemo earum dolore? Recusandae, assumenda! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quisquam, eos iusto, sint porro est alias quibusdam sed possimus, necessitatibus quidem similique. Obcaecati, numquam dicta! Nostrum alias accusantium deserunt ex assumenda?
    <br>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime, beatae in ipsam quibusdam, delectus facere officia cumque, praesentium commodi dignissimos at consequatur dolorem doloremque dolores pariatur. Necessitatibus accusamus nam cumque. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cum magni, quae ullam modi atque doloribus doloremque sed. Adipisci delectus vel amet odit, id quidem, aspernatur, molestias tenetur necessitatibus veritatis placeat? Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quibusdam dolore delectus ab ipsa soluta beatae eligendi sed quasi alias similique reprehenderit hic, laudantium, nisi harum doloremque dignissimos ratione expedita consequatur. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit quas praesentium voluptas itaque totam libero quod magni officia hic, repellat possimus dolorem fugit in maiores commodi perferendis eius modi minus?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime, beatae in ipsam quibusdam, delectus facere officia cumque, praesentium commodi dignissimos at consequatur dolorem doloremque dolores pariatur. Necessitatibus accusamus nam cumque. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cum magni, quae ullam modi atque doloribus doloremque sed. Adipisci delectus vel amet odit, id quidem, aspernatur, molestias tenetur necessitatibus veritatis placeat? Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quibusdam dolore delectus ab ipsa soluta beatae eligendi sed quasi alias similique reprehenderit hic, laudantium, nisi harum doloremque dignissimos ratione expedita consequatur. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit quas praesentium voluptas itaque totam libero quod magni officia hic, repellat possimus dolorem fugit in maiores commodi perferendis eius modi minus?</p>
    </div>
</div>
</div>
</div>




<!-- <div class="container">
       <h6> product id -123456</h6>
      </div>
      <div class="container">
       <h6> brand name -Autic</h6>
      </div>
      <div class="container">
       <h6>Manufacture Date -5th September 2023</h6>
      </div>
      <div class="container">
       <h6> product id -123456</h6>
      </div> -->
      <!-- <h4>Add New Product</h4>
      <form id="idForm" action="/addnewproduct" method="post">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Product ID</label>
          <input type="text" name="pid" placeholder="Enter Product ID" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Brand Name</label>
          <input type="text" placeholder="Enter Brand Name" name="bname" class="form-control" id="exampleInputPassword1">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Mobile Number</label>
            <input type="number" placeholder="Enter Mobile Number" name="mobile" class="form-control" id="exampleInputPassword1">
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Email Address</label>
            <input type="email" placeholder="Enter Email Address" name="email" class="form-control" id="exampleInputPassword1">
          </div>
        <div class="mb-3 form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div>
        <div class="text-center"><button  class="btn waves-effect waves-light" type="submit" name="action">Submit
            <i class="material-icons right">send</i>
          </button></div>
        
             <button href="#!" class=" modal-close waves-effect waves-green btn-flat">Submit</a> 
        </div>
        
      </form> -->
    <!-- <div class="modal-footer text-center">
      <a href="#!" class="text-center modal-close waves-effect waves-green btn-flat">Agree</a>
      <a href="#!" class="text-center modal-close waves-effect waves-green btn-flat">DisAgree</a>
    </div> -->